<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Contribution Notification</title>
</head>
<body>
    <p>Dear PamperMomma User,</p>
    <p>Great news! {{ contributor_name }} has just contributed ${{ amount }} to your "{{ service_name }}" service in your "{{ registry_name }}" registry!</p>
    <p>We're so excited for you to receive this gift! Head to your dashboard to view the contribution and manage your services.</p>
    <p>Warmly,<br>The PamperMomma Team</p>
</body>
</html>
